

.nav-bar {
    -fx-background-color: #D8D8D8;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* styling for the ScrollPane */
.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: white;
}
.scroll-pane:focused {
    -fx-focus-color: transparent;
}

/* styling for the dynamically generated buttons */
.dynamic-button {
    -fx-border-color: transparent;
    -fx-background-color: #D8D8D8;
    -fx-border-width: 0;
}

.text-field {
    -fx-border-color: #263F68;
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
    -fx-max-width: 300px;
}

.text-field:focused {
    -fx-border-color: #F5102F;
    -fx-background-color: transparent;
}

#userAccountDisplayContainer {
    -fx-padding: 40px 30px 0px 30px;
}

#teacherContainer {
    -fx-padding: 0px 0px 20px 0px;
}

#studentListDescriptor, #studentKeyLogsDescriptor, #keyLogDescriptor {
    -fx-font-size: 16px;
}

#studentListContainerScrollPane, #studentKeyLogsContainerScrollPane, #logContainerScrollPane {
    -fx-background-color: rgba(255,0,0,0);
    -fx-border-color: rgb(127, 138, 156);
    -fx-border-width: 3px;
}

#logContainer, #logContainerScrollPane {
    -fx-background-color: white;
}


.student, .log {
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size: 16px;
}

.student:hover, .log:hover {
    -fx-background-color: rgb(191, 191, 191);
}

.student-selected, .log-selected {
    -fx-background-color: rgba(245, 16, 47, 0.5);
}

.student-selected:hover, .log-selected:hover {
    -fx-background-color: rgba(245, 16, 47, 0.5);
}