.nav-bar {
    -fx-background-color: #D8D8D8;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-insets: 0;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

/* styling for the ScrollPane */
.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-background-color: white;
}
.scroll-pane:focused {
    -fx-focus-color: transparent;
}

/* styling for the dynamically generated buttons */
.dynamic-button {
    -fx-border-color: transparent;
    -fx-background-color: #D8D8D8;
    -fx-border-width: 0;
}

#typingPlanToggleContainer {
    -fx-background-insets: 0;
    -fx-padding: 20px;
    -fx-border-width: 0px;
}

#typingPlanToggleButton {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-color: transparent;
    -fx-border-color: rgb(127, 138, 156);
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

#typingPlanToggleLabel {
    -fx-font-size: 16px;
    -fx-translate-y: 3px;
    -fx-padding: 0px 0px 0px 3px;
}